<body>
    <nav class="navbar navbar-default">
        <div class="container nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">Trump Stuff</div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="btn-link"><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigate<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header btn-header">Trump Tweets</li>
                            <li class="btn btn-primary btn-link"><a href="/graphs">Graphs</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header btn-header">Collection of Quotes</li>
                            <li class="btn btn-primary btn-link"><a href="/quotes">Quotes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>This is the Quotes Part!</h1>
    <div class="btn-group  btn-group-lg" role="group">
        <div class="btn-group btn-group-lg" role="group">
            <button id="byRating" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Filter By Rating<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./quotes/rating/G">Rating G</a></li>
                <li><a class="dropdown-item" href="./quotes/rating/PG">Rating PG</a></li>
                <li><a class="dropdown-item" href="./quotes/rating/R">Rating R</a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <button id="byId" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Filter By ID<span class="caret"></span></button>
            <div class="dropdown-menu" id="quotes-by-id">
                {{!-- quotes by ID will be added here by script below in footer --}}
            </div>
        </div>
    </div>
    {{#each quotes}}
    <div "panel panel-default">
        <div class="panel-heading">
            <div class="panel-title quote">Quote: {{this.quote}}</p>
                <div class="panel-body quote-label">
                    Rating:{{this.rating}}<br> Source:{{this.source}}
                    <br> Year:{{this.year}}
                </div>
            </div>
        </div>
    </div>
    <hr> {{/each}}
    <footer id="footer">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy;2017 Trump Quotes. All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                    <p>Developed by <a href="main.html">Trump Quotes</a></p>
                </div>
                <div class="col-md-2">
                    <p><a href="/">Home</a> |<a href="/quotes">Quotes</a> |<a href="/graphs">Graph</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

<script type="text/javascript" language="JavaScript">
    if (window.top.location.pathname == "/") {
        // this is the main.html page
        // hide the navbar
        $(".navbar").hide();
        // hide the footer
        $(".footer").hide();
    }

    // add the list items for the quotes by ID button
    for (i = 1; i < 108; i++) {
        var li = $("<li>")
        var a = $("<a>");
        a.addClass("dropdown-item");
        a.attr("href", "./quotes/id/" + i);
        a.html(i);
        $("#quotes-by-id").append(li);
        li.append(a);
    }
</script>