@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*this is the background image*/

body.body {
    background-image: url("../images/stripes.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/*background-image for jumbotron*/

div.jumbotron {
    background-image: url("../images/stars.jpg");
    /*add picture of postage stamp and Trump here*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


/*Trump stamp with 45cent in right hand corner*/

div.stamp {
    width: 400px;
    height: 400px;
    padding: 10px;
    background: #fff;
    background: radial-gradient(transparent, transparent 7px, white 7px, white);
    background-size: 20px 20px;
    background-position: -9px -9px;
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
    margin: auto;
}


div.center {
    /*z-index: 100;*/
    display: inline-block;
    position: absolute;
    color: #fff;
    margin: 10px 10px 0 0;
    font: bold 60px Georgia, "Times New Roman", Times, serif;
    /*text-align: right;*/
    /*center: 30px;*/
    top: 40px;
    right: 755px;
}


/*Trump Stuff Title*/

h1 {
    font-family: 'Luckiest Guy', cursive !important;
    color: red !important;
    text-shadow: 3px 2px white;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 3;
    
}
/*there was a keyframes for "animatetop here. Lines 63-86*/


/*jumbotron buttons*/

button.btn.btn-primary.btn-lg {
    border: 2px solid #0a3c59;
    background: #9cd7ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#005e9c), to(#9cd7ff));
    background: -webkit-linear-gradient(top, #005e9c, #9cd7ff);
    background: -moz-linear-gradient(top, #005e9c, #9cd7ff);
    background: -ms-linear-gradient(top, #005e9c, #9cd7ff);
    background: -o-linear-gradient(top, #005e9c, #9cd7ff);
    background-image: -ms-linear-gradient(top, #005e9c 0%, #9cd7ff 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #fafafa;
    font-size: 15px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

button.btn.btn-primary.btn-lg:hover {
    border: 2px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
}

button.btn.btn-primary.btn-lg:active {
    text-shadow: #1e4158 0 1px 0;
    border: 2px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}
/*fill gauge*/
svg#fillgauge2 {
    background-color: black;
}
/*Modal body and buttons*/

.modal-body {
    padding: 7px;
}

button.btn.btn-primary.btn-lg:focus {
    outline: 0;
}

.dropdown-item a:hover {
    background-color: #94a0ed
}

#pass {
    font-size: 12px;
}

.nav-container {
    width: inherit;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-item {
    display: block;
}


/*modal decoration*/

div.modal-body {
    border: 3px solid #a5a5b8;
    background: #09002e;
    background: -webkit-gradient(linear, left top, left bottom, from(#0537ff), to(#09002e));
    background: -webkit-linear-gradient(top, #0537ff, #09002e);
    background: -moz-linear-gradient(top, #0537ff, #09002e);
    background: -ms-linear-gradient(top, #0537ff, #09002e);
    background: -o-linear-gradient(top, #0537ff, #09002e);
    background-image: -ms-linear-gradient(top, #0537ff 0%, #09002e 100%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width: 300px;
    padding: 20px;
    width: 300px;
}

div.form-group {
    border: 2px solid #c9b7a2;
    background: #e4d5c3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #000000;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
    padding: 8px;
    margin-bottom: 20px;
    /* width: 280px; */
}

div.modal-form-group {
    width: 320px;
}

div.modal-content {
    background-color: transparent;
    width: 320px;
}

.form-field:focus {
    background: #fff;
    color: #000000;
}

.form-container h2 {
    text-shadow: #050300 0 1px 0;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
}

.form-title {
    margin-bottom: 10px;
    color: #fcfcfc;
    text-shadow: #050300 0 1px 0;
}

.submit-container {
    margin: 8px 0;
    text-align: right;
}
button.btn.btn-primary.submit {
    border: 1px solid #447314;
    background: #182987;
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d9ff), to(#182987));
    background: -webkit-linear-gradient(top, #d4d9ff, #182987);
    background: -moz-linear-gradient(top, #d4d9ff, #182987);
    background: -ms-linear-gradient(top, #d4d9ff, #182987);
    background: -o-linear-gradient(top, #d4d9ff, #182987);
    background-image: -ms-linear-gradient(top, #d4d9ff 0%, #182987 100%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #678c42 0 1px 0;
    color: #000000;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

button.btn.btn-primary.submit:hover {
    border: 1px solid #03061f;
    text-shadow: #030500 0 1px 0;
    background: #2847ad;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#2847ad));
    background: -webkit-linear-gradient(top, #000000, #2847ad);
    background: -moz-linear-gradient(top, #000000, #2847ad);
    background: -ms-linear-gradient(top, #000000, #2847ad);
    background: -o-linear-gradient(top, #000000, #2847ad);
    background-image: -ms-linear-gradient(top, #000000 0%, #2847ad 100%);
    color: #fff;
}

button.btn.btn-primary.submit:active {
    text-shadow: #020300 0 1px 0;
    border: 1px solid #000000;
    background: #1827f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#2847ad));
    background: -webkit-linear-gradient(top, #b5b5b5, #1827f5);
    background: -moz-linear-gradient(top, #b5b5b5, #1827f5);
    background: -ms-linear-gradient(top, #b5b5b5, #1827f5);
    background: -o-linear-gradient(top, #b5b5b5, #1827f5);
    background-image: -ms-linear-gradient(top, #b5b5b5 0%, #1827f5 100%);
    color: #fff;
}

button.btn.btn-primary.submit:focus {
    outline: 0;
}


/*End modal*/

/*body {
    font-family: 'Open Sans', sans-serif;
    color: #7c77a5;
}

.body {
    background-color: #003366;
}

.container {
    background-color: #767570;
    padding-bottom: 8px;
}

.neutral {
    background-color: #D8D5C9 !important;
}*/


/* STRUCTURE */

#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 0px auto;
    background-color: #D8D5C9;
    background: rgba(0, 0, 0, 0.4);
}

header {
    height: 100px;
    padding: 0 15px;
    text-align: center;
    background-color: #767570;
}

section#content {
    width: 270px;
    float: left;
    padding: 5px 15px;
    margin: 0px 0px 0px 6px;
    text-align: center;
    /*background-color: #D8D5C9 !important;*/
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Cinzel', serif;
    color: white;
}

section#middle {
    width: 375px;
    height: 714px;
    /* Account for margins + border values - was seet to 294*/
    height: 714px;
    float: left;
    padding: 27px 15px;
    margin: 0px 10px 5px 10px;
    text-align: center;
    /*background-color:#D8D5C9;*/
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Cinzel', serif;
    color: white;
}

aside#sidebar {
    width: 270px;
    padding: 5px 15px;
    float: left;
    text-align: center;
    /*background-color: #D8D5C9 !important;*/
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Cinzel', serif;
    color: white;
}


.panel-body,
.quote-label {
    /*text-align: center;*/
    background-color: #D8D5C9 !important;
    color: #000000;
}

.quote {
    font-weight: bold;
}

footer {
    clear: both;
    padding: 0 15px;
    background-color: #D8D5C9;
}

.dropdown-toggle,
.btn-link,
.navbar-brand,
.navbar-toggle,
.nav-container
.navbar {
    border: 1px solid darkslategray;
    background: #182987;
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d9ff), to(#182987));
    background: -webkit-linear-gradient(top, #d4d9ff, #182987);
    background: -moz-linear-gradient(top, #d4d9ff, #182987);
    background: -ms-linear-gradient(top, #d4d9ff, #182987);
    background: -o-linear-gradient(top, #d4d9ff, #182987);
    background-image: -ms-linear-gradient(top, #d4d9ff 0%, #182987 100%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-family: helvetica, serif;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/


/* for 980px or less */

@media screen and (max-width: 980px) {
    #pagewrap {
        width: 94%;
    }
    #content {
        width: 41%;
        padding: 1% 4%;
    }
    #middle {
        width: 41%;
        padding: 1% 4%;
        margin: 0px 0px 5px 5px;
        float: right;
    }
    #sidebar {
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
    }
    header,
    footer {
        padding: 1% 4%;
    }
}


/* for 700px or less */

@media screen and (max-width: 600px) {
    #content {
        width: auto;
        float: none;
    }
    #middle {
        width: auto;
        float: none;
        margin-left: 0px;
    }
    #sidebar {
        width: auto;
        float: none;
    }
}


/* for 480px or less */

@media screen and (max-width: 480px) {
    header {
        height: auto;
    }
    /*h1 {
		font-size: 2em;
	}*/
    #sidebar {
        display: none;
    }
}


